extends layout

block content
    link(rel='stylesheet', href='/stylesheets/iframe.css')

    header
        h1 Add new category:
    div(class="container")
        form(id="newcategory-form", class="add-new-category", action="", method="post")
            label(for="category-name") New Category:
                input(type="text", placeholder=" Category name...", id="category-name", name="new-category", required)
            button(id="newcategory", class="button")
                span(class="button-text") Add
    script(src="../javascripts/ifrm.js")